<!DOCTYPE html>
<html>
<head>
<title th:text="#{view.index.title}">Search Results</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: header">&nbsp;</div>
	<div class="col-md-3 col-sm-0 col-xs-0"></div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="tuit" th:each="customtuit:${tuits}">
		
				<a id="tuitUser" class="text-right" href="/"
					th:href="@{'/' + ${customtuit.nickUser}}"
					th:text="'@' + ${customtuit.nickUser}"></a>
				<p id="tuitfecha" class="text-right"
					th:text="${#calendars.format(customtuit.fecha,'HH:mm - dd MMMM yyyy')}" />
			
				<p th:text="${customtuit.contenido}" />	
			</div>		
		</div>
</body>
</html>